In [1]:
!pip list

Package                       Version
----------------------------- -------------------
alabaster                     0.7.12
appdirs                       1.4.4
argh                          0.26.2
astroid                       2.5
async-generator               1.10
atomicwrites                  1.4.0
attrs                         20.3.0
autopep8                      1.5.6
Babel                         2.9.0
backcall                      0.2.0
bcrypt                        3.2.0
beautifulsoup4                4.9.3
black                         19.10b0
bleach                        3.3.0
brotlipy                      0.7.0
bs4                           0.0.1
certifi                       2020.12.5
cffi                          1.14.5
chardet                       4.0.0
click                         7.1.2
cloudpickle                   1.6.0
colorama                      0.4.4
cryptography                  3.4.7
cx-Oracle                     8.1.0
cycler                        0.10.0
decorator                     5.0.3
defusedxml                    0.7.1
diff-match-patch              20200713
docutils                      0.16
entrypoints                   0.3
et-xmlfile                    1.0.1
flake8                        3.9.0
future                        0.18.2
greenlet                      1.0.0
idna                          2.10
imagesize                     1.2.0
importlib-metadata            3.7.3
intervaltree                  3.1.0
ipykernel                     5.3.4
ipython                       7.22.0
ipython-genutils              0.2.0
isort                         5.8.0
jedi                          0.17.2
Jinja2                        2.11.3
jsonschema                    3.2.0
jupyter-client                6.1.12
jupyter-core                  4.7.1
jupyterlab-pygments           0.1.2
keyring                       22.3.0
kiwisolver                    1.3.1
lazy-object-proxy             1.6.0
MarkupSafe                    1.1.1
matplotlib                    3.3.4
mccabe                        0.6.1
mistune                       0.8.4
mkl-fft                       1.3.0
mkl-random                    1.1.1
mkl-service                   2.3.0
mypy-extensions               0.4.3
nbclient                      0.5.3
nbconvert                     6.0.7
nbformat                      5.1.3
nest-asyncio                  1.5.1
numpy                         1.19.2
numpydoc                      1.1.0
olefile                       0.46
openpyxl                      3.0.7
packaging                     20.9
pandas                        1.2.3
pandocfilters                 1.4.3
paramiko                      2.7.2
parso                         0.7.0
pathspec                      0.7.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        8.2.0
pip                           21.0.1
pluggy                        0.13.1
prompt-toolkit                3.0.17
psutil                        5.8.0
ptyprocess                    0.7.0
pycodestyle                   2.6.0
pycparser                     2.20
pydocstyle                    6.0.0
pyflakes                      2.2.0
Pygments                      2.8.1
pylint                        2.7.4
pyls-black                    0.4.6
pyls-spyder                   0.3.2
PyNaCl                        1.4.0
pyOpenSSL                     20.0.1
pyparsing                     2.4.7
pyrsistent                    0.17.3
PySocks                       1.7.1
python-dateutil               2.8.1
python-jsonrpc-server         0.4.0
python-language-server        0.36.2
pytz                          2021.1
pywin32                       227
pywin32-ctypes                0.2.0
PyYAML                        5.4.1
pyzmq                         20.0.0
QDarkStyle                    2.8.1
QtAwesome                     1.0.2
qtconsole                     5.0.3
QtPy                          1.9.0
regex                         2021.3.17
requests                      2.25.1
rope                          0.18.0
Rtree                         0.9.4
scipy                         1.6.2
seaborn                       0.11.1
selenium                      3.141.0
setuptools                    52.0.0.post20210125
six                           1.15.0
snowballstemmer               2.1.0
sortedcontainers              2.3.0
soupsieve                     2.2.1
Sphinx                        3.5.3
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        1.0.3
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.4
spyder                        4.2.5
spyder-kernels                1.10.2
SQLAlchemy                    1.4.7
testpath                      0.4.4
textdistance                  4.2.1
three-merge                   0.1.1
toml                          0.10.2
tornado                       6.1
traitlets                     5.0.5
typed-ast                     1.4.2
typing-extensions             3.7.4.3
ujson                         4.0.2
urllib3                       1.26.4
watchdog                      1.0.2
wcwidth                       0.2.5
webencodings                  0.5.1
wheel                         0.36.2
win-inet-pton                 1.1.0
wincertstore                  0.2
wrapt                         1.12.1
xlrd                          2.0.1
xlwt                          1.3.0
yapf                          0.31.0
zipp                          3.4.1

In [2]:
import pandas as pd

In [3]:
#csv를 읽을때 구분자 설정
df = pd.read_csv('data2/gapminder.tsv',sep='\t')

In [4]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [5]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [6]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.shape[0] #행수

1704

In [11]:
df.shape[1] #열수

6

In [12]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [13]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [18]:
country_df = df['country'] #열 하나의 정보를 추출

In [19]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [20]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [21]:
country_df.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [23]:
subset = df[['country','continent','year']]

In [24]:
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [25]:
type(subset) #여러개의 열정보를 가져오면 dataframe으로 가져옴

pandas.core.frame.DataFrame

In [27]:
df #인덱스번호는 0~ 1703

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [28]:
df.loc[0] #0번째 인덱스에 해당하는데이터

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [29]:
df.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [30]:
df.loc[-1] #없는 인덱스는 오류난다.

KeyError: -1

In [31]:
df.shape #df의 행과 열의 크기

(1704, 6)

In [32]:
last_row_index = df.shape[0] -1

In [33]:
last_row_index #행의크기 -1

1703

In [34]:
df.loc[last_row_index]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [35]:
df.tail(n=1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [36]:
df.tail(n=2) #마지막,그리고 그 전것까지 2개

       country continent  year  lifeExp       pop   gdpPercap
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [37]:
df.loc[[0,99,999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [38]:
subset_loc = df.loc[0]
subset_tail = df.tail(n=1)

In [45]:
type(subset_loc) #한 행을 시리즈데이터로 가져옴

pandas.core.series.Series

In [46]:
type(subset_tail) #한 행을 데이터프레임으로 가져옴

pandas.core.frame.DataFrame

In [47]:
subset_loc

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [48]:
subset_tail

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [49]:
df.iloc[1] #행번호로 조회

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [50]:
df.iloc[-1] #마지막행 가져온다

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [52]:
subset = df.loc[:,['year','pop']] #행은 전부, 열은 year,pop만
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [53]:
subset = df.iloc[:,[2,4,-1]] #전체행 2,4,마지막열
subset.head()

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

In [55]:
subset = df.iloc[:,:3] #모든 행에 대해서 3번째까지의 열(컬럼,속성)
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [56]:
subset = df.iloc[:,0:6:2] #모든 행, 0~5열을 2간격으로
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [57]:
small_range = list(range(5))
small_range

[0, 1, 2, 3, 4]

In [58]:
type(small_range)

list

In [59]:
subset = df.iloc[:,small_range]

In [61]:
subset.head()

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [63]:
subset = df.iloc[:,small_range]
subset.head()

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

In [64]:
small_range = list(range(0,6,2))
small_range

[0, 2, 4]

In [66]:
subset = df.iloc[:,small_range]
subset.head()

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [67]:
df.loc[[0,99,999],['country','lifeExp','gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [68]:
df.loc[10:13,['country','lifeExp','gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [69]:
df.iloc[10:13,[0,2,4]]

        country  year       pop
10  Afghanistan  2002  25268405
11  Afghanistan  2007  31889923
12      Albania  1952   1282697

## 기초적인 통계계산하기

In [70]:
print(df.groupby('year')['lifeExp'].mean())#year별 lifeExp 열 평균값

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [73]:
df.groupby('year') #연도별로 그룹화
df.groupby('year')['lifeExp'] #그룹화데이터에서 lifeExp열만 추출 - 시리즈

In [74]:
multi_group_var = df.groupby(['year', 'continent'])[['lifeExp', 'gdpPercap']].mean() 
print(multi_group_var) #연도별 지역별로 나눠 평균출력하기

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [75]:
print(df.groupby('continent')['country'].nunique()) #그룹화해 데이터 빈도수(개수) 세기

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64